/*CSS DEL MENU*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(158, 230, 158);

}


ul
{
list-style: none;
width: 250px;
height: 500px;
}

/*Inicialmente los submenus estan escondidos*/
ul > li > ul{
    display: none;
}

/*Los submenus solo se mostraran cuando el usuario pase el raton sobre las opciones(li:hover) */
ul > li:hover > ul{
    display: block;
    height: 100px;
}
.Opcion{
    background: rgb(22, 150, 50);
    color: white;
    text-align: center;
    font-size: 30px;
}

.subOpcion{
    padding-left: 40px;
    background: rgb(104, 224, 75);
    color: white;
    font-size: 19px;
}


/*CSS DEL MODAL*/
.ventanaModal{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: silver;
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
}

.ventanaModal:target{
    opacity: 1;
    pointer-events: auto;

}

.ventanaModal > div{
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px;
    border-radius: 10px;
    background: white;
}

.botonAbrir:hover{background: blue; color: white}
.botonCerrar:hover{background: blue; color: white}