.ContenidoOpcio{display: none;}
#opcion1.target,
#opcion2.target,
#opcion3.target,
#opcion4.target{display: block;}

input{display: none;}

input:checked  + .sidebar{
    width: 0px;
}
input:checked ~ .Content{
    margin-left: 0px;
}

@media screen and (max width:1200px) {
    
    
}